<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Stats</title>

    <!-- Load CSS page -->

    <link rel="stylesheet" type="text/css" th:href="@{/css/stats.css}" />
    
    <!-- Load jQuery -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


</head>

<body>

    <!-- SideBAR Buttons -->

    <input type="checkbox" id="check">
    <label for="check">
        <img alt="" th:src="@{img/menu.jpg}" width="30px" id="menu">
        <img alt="" th:src="@{img/x.jpg}" width="30px" id="x">
    </label>

    <!-- SideBAR Icons and Functions -->

    <div class="sidebar">

        <header>
            <img id="photo"
                src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ff/ff1b8712228b2f2334473678c546d7aef1f815e1_full.jpg"
                alt="">
        </header>

        <script th:inline="javascript">
            var profileUrl = [[${ profile }]];
        </script>

        <ul>

            <li> <a> <i> <img alt="" th:src="@{img/user.jpg}" width="30px" id="userIcon" data-th-text="${nickName}">
                    </i> </a> </li>
            <li> <a> <img alt="" th:src="@{img/kd.jpg}" width="30px" id="kd" data-th-text="${KD}"></a> </li>
            <li> <a> <img alt="" th:src="@{img/kills.jpg}" width="30px" id="kills" data-th-text="${kills}"></a> </li>
            <li> <a> <img alt="" th:src="@{img/deaths.jpg}" width="30px" id="deaths" data-th-text="${deaths}"></a> </li>
            <li> <a> <img alt="" th:src="@{img/time.jpg}" width="30px" id="time" data-th-text="${time}"></a> </li>
            <li> <a> <img th:src="@{img/steam.jpg}" width="30px" alt="" onclick="goSteam(profileUrl)"> Steam Profile</a>
            </li>
            <li> <a> <img th:src="@{img/back.jpg}" width="30px" alt="" onclick="goSearch()"> New Search</a> </li>
        </ul>

    </div>

    <!-- Results Page -->

    <div id="pagWhite">

        <header>
            <h1>LAST MATCH STATISTICS</h1>
        </header>

        <!-- Cards -->

        <div id="kd_last">
            <header><img alt="" th:src="@{img/kills.jpg}" width="50px" id="kd"></header>
            <h1>Kills</h1>

            <div class="kd" id="kdLastNumber">
                <h1 data-th-text="${lastKills}">5</h1>

            </div>

        </div>

        <div id="mvp_last">
            <header><img alt="" th:src="@{img/mvp.jpg}" width="50px" id="mvp"></header>
            <h1>MVP's</h1>

            <div class="kd" id="mvpLast">
                <h1 data-th-text="${lastMVPs}"></h1>
            </div>
        </div>

        <div id="deaths_last">

            <header><img alt="" th:src="@{img/deaths2.jpg}" width="50px" id="kills"></header>

            <h1>Deaths</h1>

            <div class="kd" id="deathsLast">
                <h1 data-th-text="${lastDeaths}">5</h1>
            </div>

        </div>


        <div id="favWeapon">

            <header><img alt="" th:src="@{img/weapon.jpg}" width="50px" id="kills"></header>

            <h1>Fav Weapon</h1>

            <div class="kd" id="favLast">
                <h1 data-th-text="${favWeaponLast}">5</h1>
            </div>

        </div>

        <div id="shotspKill">

            <header><img alt="" th:src="@{img/accuracy.jpg}" width="50px" id="kills"></header>

            <h1>Accuracy</h1>

            <div class="kd" id="shotsLast">
                <h1 data-th-text="${accuracy}">5</h1>
            </div>

        </div>

        <div id="kd1">

            <header><img alt="" th:src="@{img/kd.jpg}" width="50px" id="kills"></header>

            <h1>K/D</h1>

            <div class="kd" id="kd1Last">
                <h1 data-th-text="${KDLast}">5</h1>
                <img th:src="@{img/up.jpg}" width="30px" alt="" id="indicator">
            </div>

        </div>


    </div>

    <!-- Basics Scripts -->

    <script th:inline="javascript">

        var url = [[${ message }]];

        function changeStatus() {
            var kd1 = [[${ KD1 }]];
            var kd2 = [[${ KDLast }]];


            kd1 = parseFloat(kd1.replace(',', '.'));
            kd2 = parseFloat(kd2.replace(',', '.'));


            if (kd2 > kd1)
                $("#indicator").attr("src", "img/up.jpg");
            else
                $("#indicator").attr("src", "img/down.jpg");
        }

        function goSteam(url) {
            window.open(url);
        }

        function goSearch() {
            window.location.href = "/";
        }

        $("#photo").attr("src", url);
        changeStatus();

    </script>



</body>

</html>